---
import Section from "./Section.astro";

// Contact Section
// [ ] Programme
// [ ] Lien vers une video de clip officielle de la chanson
---

<Section id="contact">
  <p class="text-red-600">Contact Section</p>
</Section>