---
import { Image } from "astro:assets";
import Section from "./Section.astro";
import imageConcert from "@assets/chorale-concert.webp";

// Presentation Section
// [ ] Présentation de la chorale
// [ ] Présentation du chef de choeur

/**
NOTRE HISTOIRE
LE CHŒUR DES ANJOUÉS

La chorale de la Clinique de l'Anjou est apparue en 2008. À l'origine il s'agissait de créer une dynamique autre que professionnelle, dans un esprit convivial et culturel au sein du personnel arrivant des trois cliniques Saint-Louis, Saint- Martin et de l'Espérance.

La chorale a dans un premier temps fonctionné sous forme de petit choeur puis en 2009 il a été décidé d'ouvrir le choeur à des personnes extérieures au monde de la Clinique.

Aujourd'hui la chorale le choeur des Anjoués est une association regroupant près de 80 choristes adultes.

Le chœur des Anjoués est constitué de choristes de vingt à soixante-dix-sept ans, et réunit plusieurs générations autour d'une même et unique passion : le chant choral ainsi que l'expression corporelle et des chorégraphies.

Notre envie est de partager cette passion, dans la joie que procurent ces temps forts proposés lors de nos concerts. Durant nos représentations, nous avons la volonté de réunir un large public de tout horizon.

La musique et les chants abordés lors de nos spectacles sont universels. Ils apportent une richesse culturelle, font tomber les barrières entre les gens, le tout avec humour... De Soprano à Polnareff, il n'y a qu'une mesure de solfège.

Plus qu'une parenthèse le temps d'un concert, le bonheur partagé reste gravé en une seule et unique Émotion.
 */
---

<Section id="presentation" screen class="space-y-6">
  <h2
    class="uppercase text-primary font-[Montserrat] text-2xl font-bold tracking-wider"
  >
    Notre Histoire
  </h2>
  <h3 class="uppercase text-primary font-[Archivo] text-4xl font-bold">
    LE CHŒUR DES ANJOUÉS
  </h3>

  <div class="xs:columns-2 gap-10 space-y-6">
    <p>
      La chorale de la <span class="font-bold">Clinique de l'Anjou</span> est apparue
      en 2008. À l'origine il s'agissait de créer une dynamique autre que professionnelle,
      dans un esprit convivial et culturel au sein du personnel arrivant des trois
      cliniques Saint-Louis, Saint- Martin et de l'Espérance.
    </p>

    <p>
      La chorale a dans un premier temps fonctionné sous forme de petit choeur
      puis en 2009 il a été décidé d'ouvrir le choeur à des personnes
      extérieures au monde de la Clinique.
    </p>
  </div>

  <div class="mx-8 text-lg">
    <p class="font-bold">
      Aujourd'hui la chorale le choeur des Anjoués est une association
      regroupant jusqu'à 80 choristes adultes.
    </p>
  </div>

  <div class="xs:columns-2 space-y-6">
    <p>
      Le <span class="font-bold text-primary">chœur des Anjoués</span> est constitué
      de choristes de vingt à soixante-dix-sept ans, et réunit plusieurs générations
      autour d'une même et unique passion : le chant choral ainsi que l'
      <span class="font-bold">expression corporelle et des chorégraphies</span>.
    </p>

    <p>
      Notre envie est de partager cette passion, dans la joie que procurent ces
      temps forts proposés lors de nos concerts. Durant nos représentations,
      nous avons la volonté de <span class="font-bold"
        >réunir un large public de tout horizon</span
      >.
    </p>

    <p>
      La musique et les chants abordés lors de nos spectacles sont universels.
      Ils apportent une richesse culturelle, font tomber les barrières entre les
      gens, le tout avec humour...
      <span class="font-bold">
        De Soprano à Polnareff, il n'y a qu'une mesure de solfège.
      </span>
    </p>

    <p>
      Plus qu'une parenthèse le temps d'un concert, le bonheur partagé reste
      gravé en une seule et unique Émotion.
    </p>
  </div>

  <Image src={imageConcert} alt="La chorale en concert" />
</Section>
