---
import Section from "./Section.astro";

// Presentation Section
// [ ] Présentation de la chorale
// [ ] Présentation du chef de choeur
---

<Section id="presentation" screen>
  <p class="text-red-600">Presentation Section</p>
</Section>