---
import Section from "./Section.astro";

// Presentation Section
// [ ] Présentation de la chorale
// [ ] Présentation du chef de choeur

/**
NOTRE HISTOIRE
LE CHŒUR DES ANJOUÉS

La chorale de la Clinique de l'Anjou est apparue en 2008. À l'origine il s'agissait de créer une dynamique autre que professionnelle, dans un esprit convivial et culturel au sein du personnel arrivant des trois cliniques Saint-Louis, Saint- Martin et de l'Espérance.

La chorale a dans un premier temps fonctionné sous forme de petit choeur puis en 2009 il a été décidé d'ouvrir le choeur à des personnes extérieures au monde de la Clinique.

Aujourd'hui la chorale le choeur des Anjoués est une association regroupant près de 80 choristes adultes.

Le chœur des Anjoués est constitué de choristes de vingt à soixante-dix-sept ans, et réunit plusieurs générations autour d'une même et unique passion : le chant choral ainsi que l'expression corporelle et des chorégraphies.

Notre envie est de partager cette passion, dans la joie que procurent ces temps forts proposés lors de nos concerts. Durant nos représentations, nous avons la volonté de réunir un large public de tout horizon.

La musique et les chants abordés lors de nos spectacles sont universels. Ils apportent une richesse culturelle, font tomber les barrières entre les gens, le tout avec humour... De Soprano à Polnareff, il n'y a qu'une mesure de solfège.

Plus qu'une parenthèse le temps d'un concert, le bonheur partagé reste gravé en une seule et unique Émotion.
 */
---

<Section id="presentation" screen>
  <p class="text-red-600">Presentation Section</p>
</Section>