---
import Section from "./Section.astro";

// Program Section
// [ ] Programme
// [ ] Lien vers une video de clip officielle de la chanson
---

<Section id="program" screen>
  <p class="text-red-600">Program Section</p>
</Section>