---
import Section from "./Section.astro";

// Reviews Section
// [ ] Avis des spectateurs de concerts précédents
// [ ] Défilement des avis
---

<Section id="reviews">
  <p class="text-red-600">Reviews Section</p>
</Section>