---
import Layout from "../layouts/BaseLayout.astro";
import {
  ContactSection,
  HeroSection,
  PresentationSection,
  ProgramSection,
  ReviewsSection,
  SeparatorSection,
} from "../components/sections";
import { separatorBackgrounds } from "@assets/separators";
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<Layout
  title="Concert du Choeur des Anjoués"
  description="Concert du Choeur des Anjoués"
>
  <main class="w-full flex flex-col">
    <ThemeToggle />
    <HeroSection />
    <PresentationSection />
    <SeparatorSection img={separatorBackgrounds[0]} filter={30} />
    <ProgramSection />
    <SeparatorSection img={separatorBackgrounds[1]} filter={30} />
    <ReviewsSection />
    <SeparatorSection img={separatorBackgrounds[2]} filter={30} />
    <ContactSection />
  </main>
</Layout>
