---
import BaseLayout from "../layouts/BaseLayout.astro";
import {
  ContactSection,
  HeroSection,
  PresentationSection,
  ProgramSection,
  ReviewsSection,
  SeparatorSection,
} from "../components/sections";
import { separatorBackgrounds } from "@assets/separators";
import Navigation from "@/components/Navigation.astro";
import GallerySection from "@/components/sections/GallerySection.astro";
---

<BaseLayout
  title="Concert du Choeur des Anjoués"
  description="Concert du Choeur des Anjoués"
>
  <main class="w-full flex flex-col">
    <HeroSection />
    <PresentationSection />
    <SeparatorSection img={separatorBackgrounds[0]} filter={30} height="150px" />
    <GallerySection />
    <SeparatorSection img={separatorBackgrounds[1]} filter={30} height="150px" />
    <ProgramSection />
    <SeparatorSection img={separatorBackgrounds[2]} filter={30} height="150px" />
    <ReviewsSection />
    <SeparatorSection img={separatorBackgrounds[3]} filter={30} height="150px" />
    <ContactSection />
    <Navigation />
  </main>
</BaseLayout>
