---
import Layout from "../layouts/Layout.astro";
import {
  ContactSection,
  HeroSection,
  PresentationSection,
  ProgramSection,
  ReviewsSection,
} from "../components/sections";
---

<Layout title="Concert du Choeur des Anjoués">
  <main class="w-full flex flex-col">
    <HeroSection />
    <PresentationSection />
    <ProgramSection />
    <ReviewsSection />
    <ContactSection />
  </main>
</Layout>
