---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;

const props = Astro.props;
---

<button
  class:list={[
    "bg-slate-950 text-white opacity-60 rounded-full border-2 border-slate-950 w-8 h-8",
    "transition-opacity hover:opacity-100",
    "[&>svg]:text-current [&>svg]:w-full [&>svg]:aspect-square [&>svg]:p-1",
  ]}
  {...props}
>
  {props.children}
</button>
