---
import Section from "./Section.astro";

// Hero Page
// [ ] Vidéo plein écran autoplay non muet
// [ ] Ajouter bouton pour réguler le volume
// [ ] Ajouter bouton pour jouer/pauser
// [ ] Animer le texte pour afficher des infos
---

<Section video="https://forth-oriflamme.netlify.app/assets/hero-47ead8d9.mp4" id="hero">
  <p class="text-red-600">Hero Page</p>
</Section>