---
type Props = {
  href: string
  label: string
  active?: boolean
}

const { href, label, active } = Astro.props
---

<li>
  <a
    class:list={[
      'group relative block w-5 aspect-square text-foreground text-base',
      {'hover:after:shadow-[inset_0_0_5px_1px]': !active },
      { 'after:shadow-[inset_0_0_0_6px]': active },
      "after:absolute after:inset-0 after:w-full after:aspect-square after:rounded-full after:border-2 after:content-[''] after:shadow-foreground",
    ]}
    href={href}
  >
    <span
      class:list={[
        'absolute right-4 top-1/2 -translate-y-1/2',
        'text-base leading-none text-nowrap',
        'bg-background mr-4 p-2 rounded border border-foreground',
        'opacity-0 transition-opacity duration-500 group-hover:opacity-100',
      ]}
    >
      {label}
    </span>
  </a>
</li>
